/** 
 * Variables
 */

//Import Font Family at Layout Component (/components/Layout)

// Colors
$color-transparent: rgba(255, 255, 255, 0);
$color-base: #222;
$color-primary: #09c;
$color-primary-background: #ecfaff;
$color-secondary: #eb953a;
$color-blue-gray: #485069;
$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 75%);
$color-gray-bg: lighten($color-base, 80%);
$color-primary-darken: darken($color-primary, 10%);
$color-primary-bg: lighten($color-primary, 45%);
$color-primary-bg-hover: darken($color-primary-bg, 2%);

// Typography

$typographic-font-family: "Inter", "Noto Sans HK", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;
$typographic-small-letter-spacing: 0.5px;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(
  16 * ($typographic-root-font-size / 100) * $typographic-base-line-height
);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// Animation
$transition: all 0.2s ease-in-out;
