@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  display: block;

  &__item {
    display: block;
    border-bottom: 1px solid $color-gray-border;
    margin-bottom: 32px;

    &-image {
      width: 100px;
      height: 52.5px;
      object-fit: cover;
      display: none;
    }

    &-separator {
      background: $color-blue-gray;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        $color-blue-gray 100%
      );
      display: block;
      height: 1px;
      width: 100%;
      margin-top: 16px;
    }

    &-titlewrapper {
      display: flex;
      flex-direction: row;
      align-content: center;
    }

    &-title {
      font-size: $typographic-base-font-size * 1.35;
      font-weight: 600;
      line-height: 130%;
      @include margin-top(0);
      @include margin-bottom(0);

      &:hover + .feed__item-url {
        background-color: $color-primary;
        color: $color-white;
      }

      &-link {
        color: $color-base;
        border-bottom: 1px dotted $color-transparent;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px dotted $color-base;
        }
      }
    }

    &-url {
      align-self: center;
      color: $color-primary;
      min-width: 28px;
      min-height: 28px;
      transition: $transition;
      text-align: center;
      line-height: 28px;
      font-weight: 800;
      margin-left: 8px;

      &:hover,
      &:focus {
        background-color: darken($color-primary, 10%);
        color: $color-white;
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      font-weight: 400;
      color: $color-blue-gray;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    &-meta {
      &-time {
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }
    }
  }
}

@include breakpoint-sm {
  .feed {
    &__item {
      display: grid;
      grid-template-columns: max-content auto;
      grid-gap: 16px;
      border-bottom: none;

      &-image {
        display: block;
      }

      &-url {
        color: $color-primary;
        background-color: $color-transparent;
        border: none;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
