@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  display: block;

  &__item {
    border-bottom: 1px $color-gray-border solid;
    margin-bottom: 32px;

    &-title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-title {
      font-size: $typographic-base-font-size * 1.35;
      font-weight: 600;
      @include margin-top(0);
      @include margin-bottom(0);

      &-link {
        color: $color-base;
        border-bottom: 1px dotted $color-transparent;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px dotted $color-base;
        }
      }
    }

    &-url {
      font-size: $typographic-small-font-size;
      color: $color-primary;
      width: 28px;
      height: 28px;
      transition: $transition;
      text-align: center;
      line-height: 32px;
      font-weight: 800;
      margin-left: 8px;
      margin-top: -8px;
      border-radius: 50%;

      &:hover,
      &:focus {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &-description {
      font-size: $typographic-base-font-size;
      font-weight: 400;
      color: $color-blue-gray;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    &-meta {
      &-time {
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }
    }
  }
}
