/** 
 * Variables
 */
/**
 * Breakpoints
 */
/**
 * Margin
 */
/**
 * Padding
 */
/**
 * Line-Height
 */
@-webkit-keyframes description-reveal {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes description-reveal {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.photofeed {
  display: block;
}

.photofeed__item-wrapper {
  overflow: hidden;
  height: 500px;
  position: relative;
  margin-bottom: 16px;
}

.photofeed__item-wrapper-overlay .inview {
  opacity: 1;
}

.photofeed__item-wrapper-meta .inview {
  opacity: 1;
}

.photofeed__item-wrapper-overlay {
  position: absolute;
  bottom: 0;
  height: 33vh;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.photofeed__item-wrapper-background {
  background-color: black;
  /* fallback color */
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
}

.photofeed__item-wrapper-meta {
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.photofeed__item-wrapper-metawrapper {
  position: relative;
  padding: 16px;
}

.photofeed__item-wrapper-time {
  color: #fff;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 13px;
}

.photofeed__item-wrapper-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 13px;
}

.photofeed__item-wrapper-description {
  display: -webkit-box;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  overflow: hidden;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 26px;
  margin-bottom: 19.5px;
}

@media screen and (min-width: 960px) {
  .photofeed {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .photofeed__item-wrapper {
    margin-bottom: 0;
    height: 400px;
  }
  .photofeed__item-wrapper-description {
    display: none;
  }
  .photofeed__item-wrapper:hover .photofeed__item-wrapper-background {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .photofeed__item-wrapper:hover .photofeed__item-wrapper-description {
    display: -webkit-box;
    -webkit-animation-name: description-reveal;
            animation-name: description-reveal;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
}
/*# sourceMappingURL=ImageFeed.module.css.map */